.account {
  height: 200px;
  padding: 18px 16px;
  border-radius: 26px;
  background: linear-gradient(-165deg,#EBD8FF 0%, rgba(207,186,255,.67) 37%,rgba(230,160,234,.47) 69%,#FEFDFF);
  overflow: hidden;
  position: relative;
  &__header {
    display: flex;
    justify-content: space-between;
    p {
      font-weight: 500;
    }

  }
}