// default html font-size (px)
$default-fs: 18;

// Media breakpoints
$breakpoint-1: 1300px;
$breakpoint-2: 1024px;
$breakpoint-3: 768px;
$breakpoint-4: 570px;
$breakpoint-5: 430px;

:root{
    // Without padding container width
    --container-width: 1020px;
    // paddings
    --container-padding: 15px;
    --default-ff: "Roboto", sans-serif;;
    --default-fw: 400;
    --dark: #2E2F34;
    --red: #A60007;
    --green: #1B9F00;
    --main-background: linear-ba;
    --coffee: #d5c6ad;
    --input-error: #DF8F8F;
    --input-shadow: rgba(122, 154, 238, 0.25);
    --input-error-shadow: rgb(188, 34, 34);
}
